.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.card-list-child {
    max-width: 440px;
}

.alert-box {
    width: 90%;
    margin: 0 auto;
}